footer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4rem;
  a {
    color: white;
  }
  .address {
    display: block;
    a {
      display: list-item;
      color: white;
      padding-bottom: 1.5rem;
    }
  .location {
    width: 89%;
    margin-left: auto;
  }

  a[href^="loaction"]::before {
    content: url(../images/icon-location.svg);
    margin-right: 1rem;
    position: absolute;
    left: 1rem;
  }
  a[href^="tel"]::before {
      content: url(../images/icon-phone.svg);
      margin-right: 1rem;
  }
  
  a[href^="mailto"]::before {
      content: url(../images/icon-email.svg);
      margin-right: 1rem;
    }
  }
}
@media(min-width:375px) {
 footer {
   nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
    .address {
      .location {
        width: 100%;
        margin-left: 0;
      }
      a[href^="loaction"]::before {
        margin-right: 1rem;
        position: inherit;
      }
    }
   }
 }
}