main {
  article {
    text-align: center;
    header {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      img {
        width: 100%;
      }
      h2{
        font-size: 28px;
      }
    }
    button {
      background-color: hsl(198, 60%, 50%);
      border: none;
      border-radius: 30px;
      width: 300px;
      height: 55px;
      text-align: center;
      color: white;
    }
  }
}
@media(min-width:375px) {
 main > article {
    header{
      width: 50%;
      img {
        width: 100%;
        padding-top: 4rem;
      }
      h2 {
        font-size: 40px;
      }
      p {
        width: 62%;
        margin: auto;
        padding-bottom: 2rem;
      }
    }
  }
}