main {
  article {
      article {
         width: 90%;
         margin-left: auto;
         margin-right: auto;
         padding-top: 4rem;
        u {
          color: hsl(198, 60%, 50%);
        }
        }
    }
  }
